.card {
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;

  >h4 {
    margin-top: 16px !important;
  }

}

.remove-underline {
  text-decoration: none;

  color: unset !important;
}

.site-title span {
  display: none;
}

.sidebar-content {
  font-family: 'VactorySans', sans-serif;
}

.starlight-aside__title {
  position: relative;

}

.starlight-aside__img {
  position: absolute;
  top: -35px;
  right: -16px;
  transform: rotate(-4deg);
  filter: drop-shadow(2.5px 2px 4px #6a6a6a);
}

.starlight-aside__img--note {
  transform: scaleX(-1) rotate(5deg);
  filter: drop-shadow(-2.5px -2px 4px #6a6a6a);
}

.starlight-aside__img--danger {
  transform: rotate(4deg);
  right: -22px;
}

.starlight-aside__img--tip {
  transform: rotate(-4deg);
  right: -30px;
  top: -38px;
}





.starlight-aside__title {
  font-family: 'BigCake', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

.main-pane {
  font-family: 'VactorySans', sans-serif;
  background-size: 16px 16px;
  background-image: radial-gradient(circle, #32382c 1px, rgba(175, 189, 181, 0) 1px);
  border-inline-start-width: .15rem;
}


:root[data-theme="light"] {
  --sl-hue-blue: 210;
  --sl-hue-purple: 260;
  --sl-color-purple-low: hsl(var(--sl-hue-purple), 100%, 97%);
  --sl-color-purple: hsl(var(--sl-hue-purple), 82%, 63%);
  --sl-color-purple-high: hsl(var(--sl-hue-purple), 39%, 22%);

  --sl-color-blue-low: hsl(var(--sl-hue-blue), 100%, 96%);
  --sl-color-blue: hsl(var(--sl-hue-blue), 82%, 63%);
  --sl-color-blue-high: hsl(var(--sl-hue-blue), 39%, 22%);

  --sl-color-orange-low: hsl(var(--sl-hue-orange), 100%, 96%);
  --sl-color-orange: hsl(var(--sl-hue-orange), 82%, 63%);
  --sl-color-orange-high: hsl(var(--sl-hue-orange), 39%, 22%);

  --sl-color-red-low: hsl(var(--sl-hue-red), 100%, 96%);
  --sl-color-red: hsl(var(--sl-hue-red), 82%, 63%);
  --sl-color-red-high: hsl(var(--sl-hue-red), 39%, 22%);


  --sl-color-black: #fefffe;

  .main-pane {
    font-family: 'VactorySans', sans-serif;
    background-size: 16px 16px;
    background-image: radial-gradient(circle, #e0efd3 1px, rgba(175, 189, 181, 0) 1px);
    border-inline-start-width: .15rem;
  }

  .pagination-links a{
    background-color: #fefffe;
  }
  

}

:root[data-theme="dark"] {
  --sl-color-orange-low: hsl(41deg 89.65% 35.73%);
  --sl-color-red-low: hsl(339deg 61.52% 35.48%);
  --sl-color-blue-low: hsl(234deg 57.9% 40.04%);
  --sl-color-purple-low: hsl(281deg 71.12% 35.37%);

  .pagination-links a{
    background-color: var(--sl-color-black);
  }
}