


.card {
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  >h4 {
    margin-top: 16px !important;
  }

}

.remove-underline {
  text-decoration: none;

  color: unset !important;
}

.site-title span {
    display: none;
}