---
const { children, flex = 'none', justifyContent = 'flex-start', alignItems = 'flex-start' } = Astro.props;
---

<div style="display: flex; flex-direction: column; flex: {flex}; justify-content: {justifyContent}; align-items: {alignItems};">
  <slot />
</div>
