---
const { flex = 1, justifyContent = 'flex-start', alignItems = 'center', marginTop = 0 } = Astro.props;
---

<div style=`display: flex; flex-direction: row; flex: ${flex}; justify-content: ${justifyContent}; align-items: ${alignItems}; margin-top: ${marginTop}`>
  <slot />
</div>
